*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
}

#logo
{
	float: left;
    margin: 0;
    margin-left: 3cm;	
    width:120px;
    height:120px;
}
#title
{
	font-size:30px;
	font-weight: bold;
	color: #cc0000;
    padding: 0px;
   margin-left: 7cm;
    /*padding-left: 300px;
    padding-top: 0px;    
    padding-bottom: 80px;
    width: 90%;*/
}
nav{ 
    display: flex;  
    align-items: center;
    background-color: red;
    padding: 8px;
    margin: 0;
    box-shadow:0 3px 5px rgb(248, 118, 42);
    overflow: hidden;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    font-size: 20px;
    margin: 0 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    
}
nav ul li a img{
    height: 30px;
    width: 30px;
}
nav ul li a::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: white;
    transition: transform 0.2s ease;
    opacity: 0;
}
nav ul li a:hover::after{
    transform: translateY(-15px);
    opacity: 1;
}
table{
    text-indent: 20px;
    text-align: center;
    
}
#con{
    text-align: center;
}