*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
}

#logo
{
	float: left;
    margin: 0;
    margin-left: 3cm;	
    width:120px;
    height:120px;
}
#title
{
	font-size:30px;
	font-weight: bold;
	color: #cc0000;
    padding: 0px;
   margin-left: 7cm;
    /*padding-left: 300px;
    padding-top: 0px;    
    padding-bottom: 80px;
    width: 90%;*/
}
nav{ 
    display: flex;  
    align-items: center;
    background-color: red;
    padding: 8px;
    margin: 0;
    box-shadow:0 3px 5px rgb(248, 118, 42);
    overflow: hidden;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    font-size: 20px;
    margin: 0 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    
}
nav ul li a img{
    height: 30px;
    width: 30px;
}
nav ul li a::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: white;
    transition: transform 0.2s ease;
    opacity: 0;
}
nav ul li a:hover::after{
    transform: translateY(-15px);
    opacity: 1;
}
#y {
    font-size: 20px;
    margin-left: auto; 
  margin-right: auto;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
  }
  
  #y td, #y th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #y tr:nth-child(even){background-color: #f2f2f2;}
  
  #y tr:hover {background-color: #ddd;}
  
  #y th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f73434;
    color: white;
  }
h4{
    font-size: 30px;
    margin-left: 30px;
}
@media  (max-width: 480px){
    #logo{
        width: 200px;
        height: 200px;
        margin-left: 1cm;
   
      }   
      #title{
          width: 600px;
          margin-left: 7cm ;
          margin-top: 1cm;
          font-size:30px;
          font-weight: bold;
          color: #cc0000;
          display: block;
          
      }
      nav ul li{
        font-size: 30px;
        
    }
      nav{
        margin-top: 1cm;
        width: 25cm;
        
        
      }
      h4{
        font-size: 25px;
        margin-left: 30px;
        width: 800px;
    }
    #y {
        font-size: 30px;
        margin-left:2cm ; 
      
        border-collapse: collapse;
        width: 800px;
      }
    
}
